{% extends "base.html"%}

{% block title %}
{{user.first_name}}'s Notes
{% endblock %}

{% block content %}
<h1 align="center">{{user.first_name}}'s Notes</h1>

<ul class="list-group list-group-flush" 
id="notes">
</ul>
{% for note in user.notes%}
    <li class="list-group-item justify-content-between d-flex align-items-center rounded" 
    id="{{note.id}}"
    >
            {{note.data}}
            <span class="badge badge-pill">
                <form method="post" 
                action="{{ url_for('views.delete_note', note_id=note.id) }}">
                <input class="btn" 
                type="submit" 
                name="delete" 
                value=&times;
                >
                </form>
            </span>
    </li>
{% endfor %}
<br/>
</ul>
<form method="POST">
    <textarea name="note" 
    id="note" 
    class="form-control">
    </textarea>
    <br/>
    <div align="center">
        <button type="submit" 
        class="btn btn-primary">Add Note
        </button>
    </div>
</form>
{% endblock %}